.pagina1__container--cuadros{
	margin: 10px;
	background: #444;
	display: flex;
	padding: 0;
	width: 350px;
	height: 240px;
	overflow: hidden;
	border-radius: 10px;
	transition: height .7s;
}
.pagina1__cuadros{
	width: 350px;
	height: 240px;
	background: #444;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	transition: transform .7s;
}
.pagina1__cuadros .boton{
	width: max-content;
	padding: 15px;
	outline: none;
	background: #84e;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 14.5px;
	margin: 8px;
	font-family: 'Libre Baskerville', cursive;
	font-weight: 400;
}
.pagina1__cuadros .boton:hover{
	background: #86e;
}
.pagina1__cuadros h4{
	background: #84e;
	color: #fff;
	width: 350px;
	margin: 0;
	padding: 10px;
	font-size: 20px;
	font-family: 'Libre Baskerville', cursive;
	font-weight: 400;
	text-align: center;
}
.pagina1__cuadros p{
	color: #fff;
	font-size: 16.5px;
	font-family: 'Libre Baskerville', cursive;
	font-weight: 400;
	text-align: center;
	padding: 7px;
	margin: 0;
}
.espacioFlecha{
	display: inline-block;
	width: 32px;
	height: 22px;
}
.flecha-izquierda2, .flecha-izquierda3{
	color: #84e;
	font-size: 25px;
	padding-right: 10px;
}
.flecha-derecha1, .flecha-derecha2{
	color: #84e;
	font-size: 25px;
	padding-left: 10px;
}
.flechas:hover{
	color: #86e;
}
.pagina1__cuadro1--informacion{
	display: none;
}
.pagina1__cuadro2--informacion{
	display: none;
	padding: 0;
	margin: 0;
}
.pagina1__cuadro2--informacion li{
	list-style: none;
	color: #fff;
	margin-top: 5px;
	padding-left: 15px;
	font-size: 20px;
}
.pagina1__cuadro2--informacion img{
	padding-right: 5px;
}
.pagina1__cuadro2--informacion li:nth-child(1) img{
	width: 30px;
	height: 20px;
}
.pagina1__cuadro2--informacion li:nth-child(2) img{
	width: 30px;
	height: 25px;
}
.pagina1__cuadro2--informacion li:nth-child(3) img{
	width: 25px;
	height: 20px;
}
.pagina1__cuadro2--informacion li:hover{
	color: #ff6;
}
.pagina1__cuadro3--informacion{
	display: none;
}